.time {
    position: absolute;
    top: 40px;
    left: 45px;
    font-size: 30px;
}
.clock {
    background: orange;
    height: 200px;
    width: 200px;
    position: relative;
    border-radius: 50%;
}

.clock-numbers {
    list-style: none;
    transform: rotate(23deg);
    top: -40px;
    left: 47px;
    position: absolute;

}

.clock-numbers li {
    margin: -10px;
    position: absolute;
    text-align: center;
    border-radius: 50%;
    background: greenyellow;
    width: 20px;
    height: 20px;
    left: 108px;
    top: 20px;
    transform-origin: 0 90px;

}

.clock-minutes {
    width: 5px;
    height: 70px;
    background: cornflowerblue;
    border-radius: 2px;
    position: absolute;
    top: 30px;
    left: 99px;
    z-index: 2;
    transform-origin: 0 100%;
}

.clock-second {
    width: 2.5px;
    height: 80px;
    background: red;
    border-radius: 2px;
    position: absolute;
    top: 20px;
    left: 99px;
    z-index: 1;
    transform-origin: 0 100%;
}


.clock-hour {
    width: 5px;
    height: 50px;
    background: black;
    border-radius: 2px;
    position: absolute;
    top: 50px;
    left: 99px;
    z-index: 3;
    transform-origin: 0 100%;
}
